*{
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Nunito', sans-serif;
}

div.container {
    display: flex;
    border: 1px solid blue;
    padding: 20px;
    max-width: 992px;
    margin: auto;
}

div.main {
    border: 1px solid maroon;
    padding: 20px;
    width: 70%;
}

div.article {
    border: 1px solid palevioletred;
    padding: 15px;
}

div.img {
    margin-bottom: 40px;
}

div img {
    width: 100%;
}

div h2 {
    border: 1px solid lightgreen;
    margin: 20px;
    font-weight: normal;
    font-size: 32px;
    color: cadetblue;
}

div p {
    border: 1px solid lightgreen;
    margin: 20px;
    font-size: 14px;
    line-height: 27px;
}

div.aside {
    border: 1px solid lightgreen;
    padding: 20px;
    width: 30%;

}

div.menu {
    font-size: 30px;
    text-align: center;
    color: #fff;
    background-color: royalblue;
    margin: 30px;
}

div.menu:hover {
    color: violet;
}