/* CSS DEL HEADER */
header {
    border: 1px solid green;
    align-items: center;
    text-align: center;
}

header div h1 {
    border: 1px solid lightgreen;
    padding: 5px;
    margin: 15px;
}

header div p {
    border: 1px solid darkgreen;
    padding: 5px;
    margin: 15px;
}

/* CSS DEL MAIN*/
main {
    margin: 0 auto;
    width: 80%;
    border: 1px solid blue;
    display: flex;
}

aside {
    border: 1px solid violet;
    padding: 5px;
    margin: 15px 0px 15px 15px;
}

aside div {
    width: 10%;
    display: flex;
    justify-content: left;
}

ul li{
    list-style-type: none;
    border: 1px solid palevioletred;
    padding: 10px 30px;
    margin: 10px 20px;
    text-align: left
}

section {
    border: 1px solid brown;
    margin: 15px 15px 15px 0px;
}

section article{
    border: 1px solid lightcoral;
    padding: 5px;
    margin: 1px 1px 10px 1px;
    align-items: center;
}

div.containerimg img {
    width: 100%;
}

/* CSS DEL FOOTER */
footer {
    background-color: lightgray;
    text-align: end;
    padding: 5px 2px;
}

footer div p{
    margin-right: 5px;
    margin: 5px;
    border: 1px solid red;
}

span.negreta { 
    font-weight: bold;
}